<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Viewer</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="viewer"></div>
    <div id="loading">
      <div id="loader"></div>
      <p>Loading...</p>
    </div>
    <div id="loading-model">
      <div id="loader"></div>
      <p>Loading model...</p>
    </div>
    <p id="error"></p>
  </body>
</html>
